.title-h1 {
    font-size: $font-xl;
    font-family: $font-accent;
    font-weight: $font-regular;

    @include breakpoint-md {
        font-size: $font-2xl
    }
}

.title-h2 {
    font-size: $font-md;
    font-family: $font-accent;
    font-weight: $font-regular;
    color: $color-muted;

    @include breakpoint-md {
        font-size: $font-lg;
    }
}