@import '../utils/variables';

@mixin breakpoint-md {
    @media (min-width: #{$breakpoint-md}) {
        @content
    }
}

;

@mixin breakpoint-xmd {
    @media (min-width: #{$breakpoint-xmd}) {
        @content
    }
}

;



@mixin breakpoint-lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content;
    }
}

;

@mixin breakpoint-xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}


// Styles
@mixin border-rounded {
    border: solid $space-min rgba($color: $color-secondary, $alpha: 0.2);
    box-shadow: 0 0 $space-lg rgba($color: $color-muted, $alpha: 0.15);
    border-radius: $space-md;
}

// Icons
@mixin plus-icon {
    position: relative;
    padding-left: $space-xxl;

    &::before {
        content: '';
        position: absolute;
        width: $icon-sm;
        height: $icon-sm;
        top: 50%;
        transform: translate(0, -50%);
        left: $space-md;
        background: url(/assets/images/ui/plus.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}