$color-background-main: #faf6e5;
$color-background-secondary: #dfdac8;
$color-text-main: #191b19;
$color-text-lighter: #313331;
$color-accent-main: #202b28;
$color-accent-secondary: #e2d8c2;
$color-muted: #544730;

$color-secondary: #2f625d;