$color-background-main: #f5f4f0;
$color-text-main: #191b19;
$color-text-lighter: #313331;
$color-accent-main: #202b28;
$color-accent-secondary: #ebe6db;
$color-muted: #6c6d67;

$color-secondary: #2f625d;
$color-tertiary: #d8cda9;