//Breakpoints
$breakpoint-md: 768px;
$breakpoint-xmd: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

//Spacing
$space-min: 1px;
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;

//Font sizes:
$font-xs: 14px;
$font-base: 16px;
$font-md: 20px;
$font-lg: 32px;
$font-xl: 48px;
$font-2xl: 64px;
$font-3xl: 72px;
$font-4xl: 80px;


//Font weights
$font-light: 200;
$font-regular: 400;
$font-bold: 600;
$font-black: 800;

$line-sm: 1px;

$icon-sm: 16px;
$icon-md: 20px;
$icon-lg: 28px;
$icon-xl: 48px;

$image-sm: 64px;
$image-md: 80px;
$image-lg: 96px;
$image-xl: 120px;