body {
    background-color: $main-white;
    color: $main-dark;
}

.title {
    @include font-special;

    &--h1 {
        font-size: $font-lg;

        @include md {
            font-size: $font-xl
        }
    }

    &--h2 {
        font-size: $font-md;

        @include md {
            font-size: $font-lg
        }
    }
}

.button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;

    &--primary {
        background-color: $green-dark;
        color: $main-white;
    }

    &--secondary {
        background-color: $blue-light;
        color: $main-dark;
    }

    &--outline {
        background-color: transparent;
        color: $main-dark;
        border: solid 1px $green-dark;
    }
}