body {
    background-color: $main-white;
    color: $main-dark;
}

.title {
    @include font-special;

    &--h1 {
        font-size: $font-lg;

        @include md {
            font-size: $font-xl
        }
    }

    &--h2 {
        font-size: $font-md;

        @include md {
            font-size: $font-lg
        }
    }
}

.button {
    &--primary {
        background-color: $green-dark;
    }
}