//Colours
$main-white: #f2f3e2;
$main-dark: #1f2513;
$green-light: #97ac82;
$green-medium: #628260;
$green-dark: #445742;
$blue-light: #aebebe;
$taupe: #433a30;

//Breakpoints
$breakpoint-md: 768px;
$breakpoint-xmd: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

//Spacing
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;

//Font sizes:
$font-xs: 14px;
$font-base: 16px;
$font-md: 20px;
$font-lg: 32px;
$font-xl: 48px;