@import '../../utils/styles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include breakpoint-md {
        flex-direction: row;
        gap: $space-xl;
        align-items: flex-start;
        min-height: 70vh;
    }

}